s<h1 style="text-align: center;">{{titulo}}</h1>

<form style="text-align: center;">

  Nombre: <input type="text" name="nombre" [(ngModel)]="nombre"><br><br>

  Apellido: <input type="text" name="apellido" [(ngModel)]="apellido"><br><br>

  Cargo: <input type="text" name="cargo" [(ngModel)]="cargo"><br><br>

  <input type="submit" value="Registrar" (click)="registrarUsuario()">

</form>

<br>

<p style="text-align: center;" *ngIf="registrado; else sinRegistrar">{{mensaje}} con el nombre de {{nombre}} {{apellido}}
   y tiene el cargo de <span [ngClass]="{paraDirectores: cargo=='director'}"> {{cargo}} </span></p>

<ng-template #sinRegistrar>
  <p style="text-align: center;">Nadie registrado</p>
</ng-template>

<br><br>
<ul style="text-align: center; list-style: inside;">
  <li *ngFor="let entrada of entradas; let i=index"><span style="font-size: larger; font-weight: bold;">{{entrada.titulo}}</span>
  . Entrada {{i+1}}</li>
</ul>



